body 
    {
		background-color:#F5DEB3;
	}
    
table
    {
        border-collapse:collapse;
        background-color:#FFFFFF;        
        margin-left:auto;
        margin-right:auto;
    }
    
th
    {
        background-color:#FFF000;
    }

div
    {
        margin-left:auto;
        margin-right:auto;
        text-align:center;
    }